.bannerText {
  background: $primary_dark;
  padding: 1em 0;
  clear: both;
  p {
    font-family: $medium_sans;
    font-size: 6.5em;
    padding: 0;
    margin: 0 0 0 12px;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: $primary_front;
    @include respond-to(phone) {font-size: 3em;}
    @include respond-to(supersmalltablet) {font-size: 4em;}
    @include respond-to(smalltablet) {font-size: 5em;}
  }
}

.about-section>h2 {
  color: $primary_front;
  text-align: center;
  font-family: $main_sans;
  font-size: 35px;
}

.about-section {
  font-size: 120%;
  padding: 1em 1em 2em 1em;
  p {
    max-width: 800px;
    margin: 1em auto;
    text-align: center;
    font-size: 130%;
    line-height: 1.4;
    font-family: $main_serif;
    font-weight: 300;
    @include respond-to(phone) {font-size: 115%;}
    @include respond-to(supersmalltablet) {font-size: 115%;}
  }
}

.service-section {
  background: $primary_front;
  padding: 1em 0 2em 0;
  &>h2 {
    color: $primary_dark;
    text-align: center;
    font-family: $main_sans;
    font-size: 35px;
  }

  p {
    max-width: 700px;
    margin: 1em auto;
    text-align: center;
    font-size: 120%;
    line-height: 1.4;
    font-family: $main_serif;
    font-weight: 300;
    color: $white;
  }
}

.service-box-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.service-box {
  width: 33.33%;
  float: left;
  padding: 0 1.5em;
  text-align: center;
  font-size: 120%;

  h3 {
    font-family: $main_sans;
  }

  p {
    font-family: $main_serif;
    color: $white;
  }
  @include respond-to(phone) {width: 100%; display: block; float: none; margin-bottom: 3em;}
  @include respond-to(supersmalltablet) {width: 100%; display: block; float: none; margin-bottom: 3em;}
  @include respond-to(smalltablet) {width: 100%; display: block; float: none; margin-bottom: 3em;}
  @include respond-to(mediumtablet) {width: 100%; display: block; float: none; margin-bottom: 3em;}
  @include respond-to(largetablet) {width: 100%; display: block; float: none; margin-bottom: 3em;}
}

.service-prompt {
  font-family: $main_serif;
  color: $white;
  text-align: center;
  font-size: 120%;
  clear: both;
  padding: 2em 0;
}

.start-prompt {
  width: 100%;
  text-align: center;

  a, a:visited, a:link {
    display: inline-block;
    width: 9em;
    margin: 0 2em;
    text-align: center;
    font-family: $main_sans;
    font-weight: 700;
    color: $white;
    font-size: 1.5em;
    line-height: 1.5em;
    background-color: $primary_dark;
    text-decoration: none;
    padding: 8px;
  }

  a:hover, a:active {
    color: $primary_front;
  }
}

.contact-section {
  padding: 2em 1em;
  &>h2 {
    font-size: 35px;
    color: $primary_front;
    font-family: $main_sans;
    text-align: center;
  }

  p {
    font-family: $main_serif;
    font-size: 120%;
    line-height: 1.4;
    text-align: center;
  }
}

