.logo-header {
  width: 100%;
  background: $primary_dark;
  padding: 3em 0 1em;
}

.svg .logo-holder {
  width: 70%;
  max-width: 800px;
  margin: 0 auto;
  background: $primary_dark;

  svg {
    width: 100%;
  }

  img {
    display: none;
  }
}

.no-svg .logo-holder {
  margin: 0 auto;
  width: 70%;
  img {
    display: inline;
    width: 100%;
  }
}

.svg.no-smil .logo-holder {
  width: 70%;
  height: 0;
  padding-top: 26.765%;
  position: relative;
  background: $primary_dark;

  svg {
    position: absolute;
    top: 0;
    left: 0;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.smil {
  #path3765 {
    stroke-dasharray: 3000;
    stroke-dashoffset: 3000;
    animation: dash 6s linear forwards;
  }



  #path3767 {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 4s linear forwards;
    animation-delay: 2s;
  }
}

#title {
  margin: 20px auto 20px;
  width: 70%;
  max-width: 800px;
  display: block;
}