.page-nav {
  display: flex;
  height: 80px;
  justify-content: space-around;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;

  & > * {
    width: 33%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
  }

  a {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #313131;
    font-size: x-large;
    text-decoration: none;
    text-align: center;

    &:hover {
      color: $primary_front;
    }
  }
}
