.page-nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.menu {
  width: 19.99%;
  float: left;
  display: inline-block;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #313131;
  font-size: x-large;
  background-color: #FFFFFF;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
  margin-left: 0;
  text-decoration: none;
  border-bottom: 2px solid $primary_dark;
  @include respond-to(phone) {
    width: 100%;
    float: none;
    display: block;
    &:not(:last-child) {
      border-bottom: 0;
    }
  }
  @include respond-to(mediumtablet) {
    width: 100%;
    float: none;
    display: block;
    &:not(:last-child) {
      border-bottom: 0;
    }
  }
}
.menu a:link , .menu a:visited {
  text-decoration: none;
  color: #313131;
  padding-top: 25px;
  padding-bottom: 24px;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: x-large;
  background-color: #FFFFFF;
  text-align: center;
  margin-left: 0;
  clear: both;
  display: block;
  @include respond-to(phone) {padding-top: 12px; padding-bottom: 12px;}
  @include respond-to(supersmalltablet) {padding-top: 12px; padding-bottom: 12px;}
  @include respond-to(smalltablet) {padding-top: 15px; padding-bottom: 15px;}
}
.menu a:hover  ,.menu a:active{
  color: #FFFFFF;
  background-color: #3EB7AE;
}